body{
    /* Set the background image to full width */
    background-image: url('../img/main-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.inlog-container{
    text-align: center;
    font-size: 20px;
}

h1{
    color: #FF0000;
    font-size: 50px;
}

h3{
    color: #FF0000;

}

p, a{
    color: white;
}
input{
    font-size: 20px;
}

.message{
    text-align: center;
    color: white;
    font-size: 30px;
}