{
 width:300px;
 height:40px;
 border:1px solid #20B2AA;
 margin-top:20px;
 padding:2px;
 font-size:20px;
 color:grey;
 border-radius:5px;

}
#heading
{
 text-align:center;
 margin-top:10px;
 font-size:30px;
 color:#228B22;
}
</style>